extends layout

block content
  h1= title
  table
    tr
      td Nr.
      td Category
      td Name
    each row, index in rows
      tr
        td= index + 1
        td= row.category
        td= row.firstname + " " + row.surname
