body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  border: 1px solid black;
}

td {
  border: 1px solid black;
  padding: 5px 15px 5px 15px;
  text-align: center;
}
